.boxss{
    display: flex;
    width: 600px;
    height: 250px;
    background-color: #3C3E44;
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 10px 0px;
}
.boxss img{
    width: 40%;
    height: 100%;
    object-fit: cover;
}
.boxss .textare {
    /* display: flex; */
    /* flex-direction: column; */
    padding: 0;
}
.heading{
    color: lightgray;
    font-weight: 800;
    font-size: 1.5rem;
    display: block;
    padding-left: 10px;
}
.locations{
    color: lightgray;
    display: block;
    font-weight: 700;
    padding-left: 10px;
}
.Last{
    color: gray;
    font-weight: 700;
    padding: 10px 10px;
    padding-top: 10px;
    /* margin: 10px 0px; */
    display: block;
}
.Locationss{
    color: lightgray;
    padding: 0px 10px;
}
.seen1{
    display: block;
    color: gray;
    font-weight: 700;
    padding-top: 20px;
    padding-left: 10px;
}
.seen{
    display: block;
    color: lightgray;
    font-weight: 700;
    /* padding-top: 20px; */
    padding-left: 10px;
}